<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @invoice.order_id_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @invoice.order %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
